@model ViewAnswersViewModel

@section BeforeContent {
    @{
        await Html.RenderPartialAsync("BackButton");
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">@Model.TopicName</span>
        <h1 class="govuk-heading-xl">View your answers</h1>
        <p>
            @Model.TrustName
            completed this self-assessment on @Model.AssessmentCompletedDate.ToString("dd MMMM yyyy").
            We used these answers to set the initial status of your recommendations.
        </p>

        <p>You can view more recent activity on recommendations pages.</p>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        @foreach (var response in Model.Responses)
        {
            <div>

                <p class="govuk-!-font-weight-bold">@response.QuestionText</p>
                <p>@response.AnswerText</p>
                <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-4 govuk-!-margin-bottom-4" />
            </div>
        }

        <hr class="govuk-section-break govuk-section-break--l">

        <a href="@($"/{Model.CategorySlug}")" draggable="false"
           class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Back to recommendations
        </a>

    </div>
</div>
