@model CustomCard

@{
<div class="dfe-card">
    @if (Model.ImageUri is not null)
    {
        string altText = Model.ImageAlt;
        <img src="@Model.ImageUri" alt="@altText">
    }
    <div class="dfe-card-container">
        <h3 class="govuk-heading-m">
            <a href="@Model.Uri" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">@Model.Title</a>
        </h3>
        @if (string.IsNullOrEmpty(Model.Description))
        {
            <p>@Model.Description</p>
        }
        @if (string.IsNullOrEmpty(Model.Meta))
        {
            <p class="govuk-body-s">@Model.Meta</p>
        }
    </div>
</div>}