@model CategorySectionViewComponentViewModel

@if (Model.ProgressRetrievalErrorMessage == null)
{
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Progress</h3>
    <p class="govuk-body govuk-!-margin-bottom-5">You have completed <strong>@Model.CompletedSectionCount of
        @Model.TotalSectionCount</strong> sections.</p>
}
else
{
    <p id="progress-error" class="govuk-error-message"><span
        class="govuk-visually-hidden">Error:</span>@Model.ProgressRetrievalErrorMessage</p>
}

<task-list>
    @foreach (var categorySectionDtoItem in Model.CategorySectionDto)
    {
        <task-list-item>
            @if (categorySectionDtoItem.Slug != null)
            {
                <task-list-item-name>
                    <a asp-controller="Pages" asp-action="GetByRoute" asp-route-route="@categorySectionDtoItem.Slug"
                        class="govuk-link">
                        @categorySectionDtoItem.Name
                    </a>
                </task-list-item-name>
                <task-list-tag colour=@categorySectionDtoItem.TagColour>
                    @categorySectionDtoItem.TagText
                </task-list-tag>
            }
            else
            {
                <task-list-item-name>
                    <govuk-error-message>@categorySectionDtoItem.NoSlugForSubtopicErrorMessage</govuk-error-message>
                </task-list-item-name>
            }
        </task-list-item>
    }
</task-list>