@using Dfe.PlanTech.Domain.CategorySection
@using Dfe.PlanTech.Web.TagHelpers.TaskList
@using GovUk.Frontend.AspNetCore.TagHelpers
@using AnchorTagHelper = Microsoft.AspNetCore.Mvc.TagHelpers.AnchorTagHelper
@model CategorySectionViewComponentViewModel

<dl class="dfe-grid-container govuk-!-width-two-thirds">
    @foreach (var categorySectionDtoItem in Model.CategorySectionDto)
    {
        <div class="dfe-card">
            <div class="dfe-card-container">
                @if (categorySectionDtoItem.Slug != null)
                {
                    string statusText = "Start Self-Assessment";
                    string pagesController = "Pages";
                    string action = "GetByRoute";
                    string routeName = categorySectionDtoItem.Slug;
                    string? sectionSlug = null;
                    string? recommendationSlug = null;

                    if (categorySectionDtoItem.ProgressStatus == SectionProgressStatus.StartedNeverCompleted)
                    {
                        statusText = "Continue Self-Assessment";
                    }
                    else if
                    (categorySectionDtoItem.ProgressStatus == SectionProgressStatus.InProgress ||
                     categorySectionDtoItem.ProgressStatus == SectionProgressStatus.CompletedStartedNew ||
                     categorySectionDtoItem.ProgressStatus == SectionProgressStatus.Completed)
                    {
                        statusText = "View Recommendations";
                        pagesController = string.Empty;
                        action = string.Empty;
                        routeName = string.Empty;

                        if (categorySectionDtoItem.Recommendation != null)
                        {
                            sectionSlug = categorySectionDtoItem.Recommendation.SectionSlug;
                            recommendationSlug = categorySectionDtoItem.Recommendation.RecommendationSlug;
                        }
                    }

                    <h3 class="govuk-heading-m">
                        @if (pagesController != "")
                        {
                            <a asp-controller="@pagesController" asp-action="@action" asp-route-route="@routeName"
                               class="govuk-link govuk-link--no-visited-state dfe-card-link--header">
                                @categorySectionDtoItem.Name
                            </a>
                        }
                        else
                        {
                            @await Html.PartialAsync("Components/CategorySection/SubtopicRecommendation", (
                                     categorySectionDtoItem.Name,
                                     sectionSlug,
                                     recommendationSlug,
                                     categorySectionDtoItem.Recommendation?.NoRecommendationFoundErrorMessage
                            ))
                        }
                    </h3>
                    <p class="govuk-body-s">
                        @statusText
                    </p>
                }
                else
                {
                    <dt class="govuk-summary-list__key">
                        <govuk-error-message>@categorySectionDtoItem.ErrorMessage</govuk-error-message>
                    </dt>
                }
            </div>
        </div>
    }
</dl>
