@model ReviewAnswersViewModel

@section BeforeContent {
    @{
        await Html.RenderPartialAsync("BackButton");
    }
}

<div class="govuk-grid-row" id="changeYourAnswers-page">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <h3 class="govuk-caption-xl">@Model.SectionName</h3>
        <h1 class="govuk-heading-xl">Change your answers</h1>
        <p>Make sure to complete and submit your self-assessment. Answers to incomplete self-assessments will not be saved.</p>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            @foreach (var questionWithAnswer in Model.SubmissionResponses?.Responses ?? [])
            {
                var anchorLabel = $"your answer for {questionWithAnswer.QuestionText}";

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key spacer">
                        @questionWithAnswer.QuestionText
                    </dt>
                    <dd class="govuk-summary-list__value spacer">
                        @questionWithAnswer.AnswerText
                    </dd>
                    <dd class="noprint govuk-summary-list__actions spacer">
                        <a asp-controller="Questions"
                           asp-action="GetQuestionBySlug"
                           asp-route-categorySlug="@Model.CategorySlug"
                           asp-route-sectionSlug="@Model.SectionSlug"
                           asp-route-questionSlug="@questionWithAnswer.QuestionSlug"
                           class="govuk-link"
                           title="@questionWithAnswer.QuestionText">
                            Change
                            <span class="govuk-visually-hidden">@anchorLabel</span>
                        </a>
                    </dd>
                </div>
            }
        </dl>

        <form asp-controller="ReviewAnswers" asp-action="ConfirmCheckAnswers" method="post" class="noprint">
            <input type="hidden" name="submissionId" value="@Model.SubmissionId" />
            <input type="hidden" name="sectionName" value="@Model.SectionName" />
            <input type="hidden" name="sectionSlug" value="@Model.SectionSlug" />

            @if (Model.ErrorMessage != null)
            {
                <p class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> @Model.ErrorMessage
                    <a class="govuk-error-message" href="@UrlConstants.HomePage">Return to the homepage</a>
                </p>
            }
        </form>

        <a href="@($"/{Model.CategorySlug}")" draggable="false"
           class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Back to recommendations
        </a>
    </div>
</div>
