@model StatusLinkViewModel

@{
    string statusText;
    string linkText;
    string? controller = null;
    string? action = null;

    var topic = Model.Section;
    var topicName = topic.Name.ToLower().Trim();
    var topicSlug = topic.Slug ?? string.Empty;
    var categorySlug = Model.CategorySlug;

    switch (topic.ProgressStatus)
    {
        case SectionProgressStatus.InProgress:
            statusText = $"A self-assessment was started on {topic.DateUpdated}. ";
            linkText = $"Continue your self-assessment for {topicName}";
            controller = "Questions";
            action = "GetNextUnansweredQuestion";
                break;
        case SectionProgressStatus.Completed:
            statusText = $"The self-assessment for {topicName} was completed on {topic.LastCompletionDate}.";
            linkText = $"View or update your self-assessment for {topicName}";
            controller = "ChangeAnswers";
            action = "ChangeAnswersPage";
                break;
        default:
            statusText = "";
            linkText = $"Go to self-assessment for {topicName}";
            controller = "Questions";
            action = "GetInterstitialPage";
                break;
    }

    if (Model.Context == "Sections")
    {

        if (topic.ProgressStatus == SectionProgressStatus.Completed)
        {
            <p>
                @statusText
            </p>
            <p>
                <a asp-controller="@controller" asp-action="@action" asp-route-categorySlug="@categorySlug" asp-route-sectionSlug="@topicSlug"
                    class="govuk-link">@linkText</a> at any time.
            </p>
        }
        else if (topic.ProgressStatus == SectionProgressStatus.InProgress)
        {
            <p>
                @statusText
                <a asp-controller="@controller" asp-action="@action" asp-route-categorySlug="@categorySlug" asp-route-sectionSlug="@topicSlug"
                   class="govuk-link">@linkText</a>
            </p>
        }
        else
        {
            <p>
                <a asp-controller="@controller" asp-action="@action" asp-route-categorySlug="@categorySlug" asp-route-sectionSlug="@topicSlug"
                   class="govuk-link">@linkText</a>
            </p>
        }
    }
    else if (Model.Context == "Default" && topic.ProgressStatus != SectionProgressStatus.Completed)
    {
        <p>
            <a asp-controller="@controller" asp-action="@action" asp-route-categorySlug="@categorySlug" asp-route-sectionSlug="@topicSlug"
                class="govuk-link">@linkText</a>
        </p>
    }
}
