@model StatusLinkViewModel

@{
	string statusText;
	string linkText;
	string? controller = null;
	string? action = null;

	var topic = Model.Section;
	var topicName = topic.Name.ToLower().Trim();
	var topicSlug = topic.Slug ?? string.Empty;
	var categorySlug = Model.CategorySlug;

	switch (topic.ProgressStatus)
	{
		case SubmissionStatus.InProgress:
        case SubmissionStatus.Obsolete:
            statusText = $"A self-assessment was started on {topic.DateUpdated}.";
			linkText = $"Continue your self-assessment for {topicName}";
			controller = nameof(QuestionsController);
			action = nameof(QuestionsController.GetContinueSelfAssessment);
			break;
		case SubmissionStatus.CompleteReviewed:
            statusText = $"The self-assessment for {topicName} was completed on {topic.LastCompletionDate}.";
            linkText = $"View answers for {topicName}";
			controller = nameof(ReviewAnswersController);
			action = nameof(ReviewAnswersController.ViewAnswers);
			break;
		default:
			statusText = "";
			linkText = $"Go to self-assessment for {topicName}";
			controller = nameof(QuestionsController);
			action = nameof(QuestionsController.GetInterstitialPage);
			break;
	}

	controller = controller.GetControllerNameSlug();

    if (Model.Context == "Sections")
    {

        if (topic.ProgressStatus == SubmissionStatus.CompleteReviewed)
        {
            <p>
                @statusText
            </p>
            <p>
                <a asp-controller="@controller" asp-action="@action" asp-route-categorySlug="@categorySlug" asp-route-sectionSlug="@topicSlug"
                    class="govuk-link">@linkText</a>
            </p>
        }
        else if (topic.ProgressStatus == SubmissionStatus.InProgress || topic.ProgressStatus == SubmissionStatus.Obsolete)
        {
            <p>@statusText</p>
            <p>               
                <a asp-controller="@controller" asp-action="@action" asp-route-categorySlug="@categorySlug" asp-route-sectionSlug="@topicSlug"
                   class="govuk-link">@linkText</a>
            </p>
        }
        else
        {
            <p>@topic.ShortDescription</p>
            <p>
                <a asp-controller="@controller" asp-action="@action" asp-route-categorySlug="@categorySlug" asp-route-sectionSlug="@topicSlug"
                   class="govuk-link">@linkText</a>
            </p>
        }
    }
    else if (Model.Context == "Default" && topic.ProgressStatus != SubmissionStatus.CompleteReviewed)
    {
        <p>
            <a asp-controller="@controller" asp-action="@action" asp-route-categorySlug="@categorySlug" asp-route-sectionSlug="@topicSlug"
                class="govuk-link">@linkText</a>
        </p>
    }
}
