@model StatusLinkViewModel

@{
    string statusText;
    string linkText;
    string? controller = null;
    string? action = null;
    Dictionary<string, string>
    ? routeValues = null;

    var topic = Model.Section;

    switch (topic.ProgressStatus.ToString())
    {
        case "InProgress":
            statusText = $"A self-assessment was started on {topic.DateUpdated}. ";
            linkText = $"Continue your self-assessment for {topic.Name.ToLower()}";
            controller = "Questions";
            action = "GetNextUnansweredQuestion";
            routeValues = new Dictionary<string, string>
            {
                ["sectionSlug"] = $"{topic.Slug}" ?? string.Empty
            };
                break;
        case "Completed":
            statusText = $"The self-assessment for {topic.Name.ToLower()} was completed on {topic.LastCompletionDate}. ";
            linkText = $"View or update your self-assessment for {topic.Name.ToLower()}.";
            controller = "ChangeAnswers";
            action = "ChangeAnswersPage";
            routeValues = new Dictionary<string, string>
            {
                ["sectionSlug"] = $"{topic.Slug}" ?? string.Empty
            };
                break;
        default:
            statusText = "";
            linkText = $"Go to self-assessment for {topic.Name.ToLower()}";
            controller = "Pages";
            action = "GetByRoute";
            routeValues = new Dictionary<string, string>
            {
                ["route"] = $"{topic.Slug}" ?? string.Empty
            };
                break;
    }

    @if (Model.Context == "Sections")
    {
        <p class="govuk-body">
            @if (statusText != "")
            {
                @statusText
            }
            <a asp-controller="@controller" asp-action="@action" asp-all-route-data="@routeValues"
                class="govuk-link">
                @linkText
            </a>
        </p>
    }
    else if (Model.Context == "Default")
    {
        if (topic.ProgressStatus.ToString() != "Completed")
        {
            <p class="govuk-body">
                <a asp-controller="@controller" asp-action="@action" asp-all-route-data="@routeValues"
                    class="govuk-link">
                    @linkText
                </a>
            </p>
        }
    }
}
