@model CsPage

<h1>@ViewData["Title"]</h1>

@{
    if (ViewBag.Pages != null)
    {
        <div class="dfe-grid-container">
            @for (var i = 0; i < ViewBag.Pages.Count; i++)
            {
                var csPage = ViewBag.Pages[i];
                var url = csPage.Slug + "?isPreview=true";
                <div class="dfe-card">
                    <div class="dfe-card-container">
                        <h3 class="govuk-heading-m">
                            <a href="@url" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">@csPage.Heading.Title</a>
                        </h3>
                        <p class="govuk-body">@csPage.Heading.Subtitle</p>
                        <p class="govuk-body">Slug: @csPage.Slug</p>
                    </div>
                </div>
            }
        </div>
    }
}