@using Dfe.PlanTech.Domain.Questionnaire.Models
@using Dfe.PlanTech.Domain.Groups.Models
@using GovUk.Frontend.AspNetCore.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.PlanTech.Domain.Questionnaire.Interfaces.IHeaderWithContent

<div class="recommendation-piece-content">
    @foreach (var content in Model.Content)
    {
        <partial name="Components/PageComponentFactory" model="@content" />
    }
</div>

@if (Model is RecommendationChunk chunk && chunk.CSLink != null)
{
    <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-9">
        <a class="govuk-body govuk-link govuk-!-font-weight-bold" href=@chunk.CSLink.Url>@chunk.CSLink.LinkText</a>
    </div>
}

@if(Model is GroupsCustomRecommendationIntro groupsCustomRecommendationIntro && groupsCustomRecommendationIntro.Responses != null)
{
    <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-9">
        <div class="govuk-grid-row" id="checkYourAnswers-page">
            <h2 class="govuk-body-xl">@groupsCustomRecommendationIntro.SelectedEstablishmentName's answers</h2>
            <p>@groupsCustomRecommendationIntro.IntroContent</p>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    @foreach (var questionWithAnswer in groupsCustomRecommendationIntro.Responses)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key spacer">
                                @questionWithAnswer.QuestionText
                            </dt>
                            <dd class="govuk-summary-list__value spacer">
                                @questionWithAnswer.AnswerText
                            </dd>
                            <dd class="noprint govuk-summary-list__actions spacer">
                            </dd>
                        </div>
                    }
                </dl>

        </div>
    </div>
}
