@model GroupsSelectorViewModel

@{
    ViewData["Title"] = "Select a school";
}

@foreach (var content in Model.BeforeTitleContent)
{
    await Html.RenderPartialAsync("Components/PageComponentFactory", content);
}

<partial name="Components/PageComponentFactory" model="@Model.Title" />

@if (Model.Content != null)
{
    foreach (var content in Model.Content)
    {
        <partial name="Components/PageComponentFactory" model="content" />
    }
}

@{
    <h2 class="govuk-heading-l">@ContentfulMicrocopyHelper.GetMicrocopyTextByKey(ContentfulMicrocopyConstants.GroupsSelectHeader, Model.MicrocopyEntries)</h2>
    foreach (var school in @Model.GroupEstablishments)
    {
        var schoolUrn = school.Urn;
        var schoolName = school.EstablishmentName;
        var dynamicValues = new Dictionary<string, string>
        {
            ["count"] = school.InProgressOrCompletedRecommendationsCount.ToString(),
            ["total"] = Model.TotalRecommendations,
        };

        <form asp-action="SelectSchool" method="post">
            <button type="submit" class="govuk-button school-button govuk-!-text-align-left" value="@schoolUrn">@schoolName</button>
            <input type="hidden" name="schoolUrn" value="@schoolUrn" />
            <input type="hidden" name="schoolName" value="@schoolName" />
            <p>@ContentfulMicrocopyHelper.GetMicrocopyTextByKey(ContentfulMicrocopyConstants.GroupsSelectRecommendationCount, Model.MicrocopyEntries, dynamicValues)</p>
        </form>
    }
}
@{
    var contactLink = new Dictionary<string, string>
    {
        ["contactLink"] = $"<a href=\"{Model.ContactLinkHref}\" target=\"_blank\" class=\"govuk-link\">Contact us (opens in new tab)</a>"
    };
}

<hr class="govuk-section-break govuk-section-break--m" />
<p class="govuk-body">@Html.Raw(ContentfulMicrocopyHelper.GetMicrocopyTextByKey(ContentfulMicrocopyConstants.GroupsSelectContactUs, Model.MicrocopyEntries, contactLink))</p>
