@using Dfe.PlanTech.Application.Providers.Interfaces
@inject IMicrocopyProvider Microcopy
@model GroupsSelectSchoolsToAssessViewModel

@{
    ViewData[StatePassingMechanismConstants.Title] = "Select schools";
    var categorySlug = Model.CategorySlug;
    var sectionSlug = Model.Section.InterstitialPage.Slug;
    var backLinkHref = "/self-assessment";
}

@section NavButton {
    <govuk-back-link id="nonjs-topic-back-link" href="@UrlConstants.HomePage" class="noprint non-js-only govuk-back-link">
        Home
    </govuk-back-link>
    <govuk-back-link id="topic-back-link" href="@backLinkHref" class="noprint js-only">
        @await Microcopy.GetTextByKeyAsync(ContentfulMicrocopyConstants.GroupsSelectSchoolsToAssessBackLink, new Dictionary<string, string>{["topic"] = Model.Section.Name.ToLower() })
    </govuk-back-link>
}

<form asp-controller="Groups" asp-action="SelectSchoolsToAssess" asp-route-categorySlug="@Model.CategorySlug" asp-route-sectionSlug="@Model.Section.InterstitialPage.Slug"
      method="post">
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <span class="govuk-caption-xl">@Model.Section.Name</span>
                <h1 class="govuk-fieldset-heading">
                    @await Microcopy.GetTextByKeyAsync(ContentfulMicrocopyConstants.GroupsSelectSchoolsToAssessHeader)
                </h1>
            </legend>
            <div id="select-schools-hint" class="govuk-hint">
                @await Microcopy.GetTextByKeyAsync(ContentfulMicrocopyConstants.GroupsSelectSchoolsToAssessHint)
            </div>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                @foreach (var school in Model.SchoolSubmissionInfo)
                {
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="schools-@school.EstablishmentRef" name="schools" type="checkbox" value="@school.EstablishmentRef">
                        <label class="govuk-label govuk-checkboxes__label" for="schools">
                            @school.EstablishmentName
                        </label>
                    </div>
                    if (school.Status == SubmissionStatus.InProgress && school.DateLastUpdated != null)
                    {
                        <div id="schools-item-hint" class="govuk-hint govuk-checkboxes__hint">
                            @await Microcopy.GetTextByKeyAsync(ContentfulMicrocopyConstants.GroupsSelectSchoolsToAssessSchoolHint, new Dictionary<string, string>{["dateUpdated"] = school.DateLastUpdated })
                        </div>
                    }
                }
                <div class="govuk-checkboxes__divider">or</div>
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="schools-all" name="schools" type="checkbox" value="all" data-behaviour="exclusive">
                    <label class="govuk-label govuk-checkboxes__label" for="schools-all">
                        @await Microcopy.GetTextByKeyAsync(ContentfulMicrocopyConstants.GroupsSelectSchoolsToAssessCheckboxAll)
                    </label>
                </div>
            </div>
        </fieldset>
        <hr class="govuk-section-break govuk-section-break--m" />
        <p class="govuk-body">@await Microcopy.GetTextByKeyAsync(ContentfulMicrocopyConstants.GroupsSelectSchoolsToAssessWarning)</p>
    </div>
    <govuk-button type="submit" prevent-double-click="true">
        @await Microcopy.GetTextByKeyAsync(ContentfulMicrocopyConstants.GroupsSelectSchoolsToAssessContinue)
    </govuk-button>
</form>
