@using Dfe.PlanTech.Web.Controllers
@model Dfe.PlanTech.Web.Models.GroupsSelectorViewModel

@section DfePageHeaderInner {
    <partial name="Components/PageComponentFactory" model="@Model.Title" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (Model.Content != null)
        {
            foreach (var content in Model.Content)
            {
                <partial name="Components/PageComponentFactory" model="content" />
            }
        }
        <form asp-action="select-a-school" method="post">
            <govuk-radios name="select-a-school">
                <govuk-radios-fieldset>
                    <govuk-radios-fieldset-legend is-page-heading="false" class="govuk-fieldset__legend--l">Select a school</govuk-radios-fieldset-legend>

                    @{
                        foreach (var school in @Model.GroupEstablishments)
                        {
                            var schoolId = school.Id;

                            <govuk-radios-item value="@schoolId">@school.EstablishmentName</govuk-radios-item>
                        }
                    }
                </govuk-radios-fieldset>
            </govuk-radios>
            <govuk-button class="govuk-!-margin-right-5" type="submit" value="@GroupsController.GetSchoolDashboardAction">Submit</govuk-button>
        </form>
    </div>
</div>
    
