@using Dfe.PlanTech.Web.Controllers
@model Dfe.PlanTech.Web.Models.GroupsSelectorViewModel

@section DfePageHeaderInner {
    <partial name="Components/PageComponentFactory" model="@Model.Title" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (Model.Content != null)
        {
            foreach (var content in Model.Content)
            {
                <partial name="Components/PageComponentFactory" model="content" />
            }
        }

        @{
            <h2 class="govuk-heading-l">Select a school</h2>
            foreach (var school in @Model.GroupEstablishments)
            {
                var schoolUrn = school.Urn;
                var schoolName = school.EstablishmentName;
                <form asp-action="SelectSchool" method="post">
                    <button type="submit" class="govuk-button school-button" value="@schoolUrn">@schoolName</button>
                    <input type="hidden" name="schoolUrn" value="@schoolUrn" />
                    <input type="hidden" name="schoolName" value="@schoolName" />
                    <p></p>
                </form>
            }
        }
    </div>
</div>
    
