@model GroupsRecommendationsViewModel

@{
    Layout = "_PrintLayout";
    var currentTime = TimeZoneHelper.ToUkTime(DateTime.UtcNow);
}

<div class="recommendation-content">
    <div class="dfe-header__logo print-header">
        <img src="/assets/images/dfe-logo-alt.png" class="dfe-logo govuk-!-padding-bottom-2" alt="DfE Logo">
        <p class="govuk-body">Plan technology for your school</p>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"/>
    <p class="govuk-!-margin-top-4 govuk-body" id="printed-date-time">Date and time this document was printed: @($"{DateTimeHelper.FormattedDateLong(currentTime)} at {DateTimeHelper.FormattedTime(currentTime)}")</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"/>
    <div id="back-button-container" class="noprint">
        @{
            await Html.RenderPartialAsync("BackButton", Model);
        }
    </div>
    <div class="govuk-!-margin-bottom-6 govuk-!-margin-top-4">
        @{
            await Html.RenderPartialAsync("PrintButton", Model);
        }
    </div>
    <partial name="RecommendationPrintContent" model="@Model.AllContent"/>
    <div class="govuk-grid-row" id="checkYourAnswers-page">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <h2 class="govuk-body-l">@Model.SectionName</h2>
            <h1 class="govuk-body-xl">@Model.SelectedEstablishmentName's answers</h1>
             <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                @foreach (var questionWithAnswer in Model.SubmissionResponses)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key spacer">
                            @questionWithAnswer.QuestionText
                        </dt>
                        <dd class="govuk-summary-list__value spacer">
                            @questionWithAnswer.AnswerText
                        </dd>
                        <dd class="noprint govuk-summary-list__actions spacer">
                        </dd>
                    </div>
                }
            </dl>
       </div>
    </div>
</div>
