@using Dfe.PlanTech.Domain.Questionnaire.Models
@using GovUk.Frontend.AspNetCore.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Dfe.PlanTech.Web.Models.GroupsRecommendationsViewModel

@{
    Layout = "_RecommendationsLayout";
}

<!-- The page is rendered within the header section to allow for both a full width blue backdrop,
and the headers & chunks to have a shared parent for displaying based on anchor tab -->

@section Header {
    <link rel="stylesheet" as="style" href="~/css/step-by-step.css">
    <div class="recommendation-content">
            @{
                var allContent = Model.AllContent.ToArray();
            }
            @for (var x = 0; x < allContent.Length; x++)
            {
                var headerWithContent = allContent[x];
                var previousContent = x - 1 >= 0 ? allContent[x - 1] : null;
                var nextContent = x + 1 < allContent.Length ? allContent[x + 1] : null;

            <div class="recommendation-piece-container" id="@headerWithContent.SlugifiedLinkText">
                <partial name="Header" model="@headerWithContent" />
                <div class="govuk-width-container govuk-main-wrapper">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-quarter">
                                @{
                                    ViewBag.VerticalNavigationSection = headerWithContent.SlugifiedLinkText;
                                }
                            <partial name="VerticalNavigation" model="@Model.AllContent" />
                        </div>
                        <div class="govuk-grid-column-three-quarters">
                            <partial name="Content" model="@headerWithContent" />
                            <partial name="Print" model="@Model" />
                            <partial name="Pagination" model="@(Previous: previousContent, Next:nextContent)" />
                        </div>
                    </div>
                </div>
            </div>
            }
    </div>
}
