@using Dfe.PlanTech.Web.Helpers;
@model Dfe.PlanTech.Domain.Content.Models.RichTextContent;

@{
    bool renderedChildren = false;
    
    if(Model.NodeType == "unordered-list"){
        await Html.RenderPartialAsync("RichText/UnorderedList", Model);
        renderedChildren = true;
    }
    else if(Model.NodeType == "ordered-list"){
        await Html.RenderPartialAsync("RichText/OrderedList", Model);
        renderedChildren = true;
    }
    else
    {
        var classes = String.Join(" ", Model.Marks.Select(mark => mark.GetClass()).Append("govuk-body"));
        if(Model.NodeType == "paragraph"){
            <p class="@classes">
            @{ 
                await Html.RenderPartialAsync("RichText/Children", Model); 
                renderedChildren = true;
            }     
            </p>
        }
        else if(Model.AsciiValue.Contains("\n")){
            var paragraphs = Model.AsciiValue.Split("\n");
            foreach(var paragraph in paragraphs){
                <span class="@classes">@paragraph</span><br/>
            }                                   
        }
        else
        {
            <span class="@classes">@Model.AsciiValue</span>
        }
    }
}

@{
    if(renderedChildren) return;

    await Html.RenderPartialAsync("RichText/Children", Model);
}