@model RecommendationsViewModel
@inject ICurrentUser CurrentUser

@{
    var schoolName = await CurrentUser.GetActiveEstablishmentNameAsync();

    if (Model.CategoryName != null)
    {
        ViewData["Title"] = $"{Model.CategoryName} - print view";
    }
}

@{
    <div>
        <span class="govuk-caption-xl">@schoolName</span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
            @Model.CategoryName
        </h1>

        <h2 class="govuk-heading-l">@Model.SectionName</h2>

        <p>
            The self-assessment for @Model.SectionName.ToLower() was completed on
            <strong>@Model.LatestCompletionDate.</strong>
        </p>
    </div>

        <div class="recommendation-action-header">
        <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Recommendation</th>
                        <th scope="col" class="govuk-table__header">Updated</th>
                        <th scope="col" class="govuk-table__header govuk-!-text-align-right">Status</th>
                    </tr>
                </thead>
            <tbody class="govuk-table__body">
                @foreach (var chunk in Model.Chunks)
                {

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell table__cell custom-height">
                            <div>@chunk.HeaderText</div>
                        </td>
                        <td class="govuk-table__cell govuk-hint govuk-!-font-size-16 govuk-!-padding-top-3">
                            @chunk.LastUpdated.ToString("d MMM yyy")
                        </td>
                        <td class="govuk-table__cell govuk-!-text-align-right">
                            <strong class="govuk-tag @((chunk.Status as RecommendationStatus?).GetCssClassOrDefault(RecommendationConstants.DefaultTagClass))">
                                @chunk.Status.GetDisplayName()
                            </strong>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <hr class="govuk-section-break govuk-section-break--l">

    <h2 class="govuk-heading-l">Recommendations</h2>

    @foreach (var chunk in Model.Chunks)
    {
        <div class="recommendation-piece-content">
            <h1 class="govuk-heading-l">@chunk.HeaderText</h1>

            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Status</th>
                        <th scope="col" class="govuk-table__header">Updated</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <strong class="govuk-tag @chunk.StatusTagClass">
                                @chunk.Status.GetDisplayName()
                            </strong>
                        </td>
                        <td class="govuk-table__cell">@chunk.LastUpdatedFormatted</td>
                    </tr>
                </tbody>
            </table>

            @foreach (var content in chunk.Content)
            {
                <partial name="Components/PageComponentFactory" model="@content" />
                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" />
            }
        </div>
    }
}
