@model RecommendationsViewModel

@{
    <div>
        <span class="govuk-caption-xl">How to meet the standard</span>
        <h1 class="govuk-heading-xl">
            @Model.CategoryName
        </h1>

        <h2 class="govuk-heading-l">@Model.SectionName</h2>

        <p>
            The self-assessment for @Model.SectionName.ToLower() was completed on
            <strong>@Model.LatestCompletionDate.</strong>
        </p>
    </div>

    <h2 class="govuk-heading-l govuk-!-margin-bottom-4">Recommendations</h2>

    <ul class="govuk-task-list">
        @foreach (var chunk in Model.Chunks)
        {
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint custom-height">
                    <p class="govuk-!-margin-bottom-0">
                        @chunk.HeaderText
                    </p>
                </div>
            </li>
        }
    </ul>

    <h2 class="govuk-heading-l">Recommendations</h2>

    @foreach (var chunk in Model.Chunks)
    {
		<div class="recommendation-piece-content">
			<h1 class="govuk-heading-xl">@chunk.HeaderText</h1>

			<table class="govuk-table">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th scope="col" class="govuk-table__header">Status</th>
						<th scope="col" class="govuk-table__header">Last updated</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<strong class="govuk-tag @chunk.StatusTagClass">
								@chunk.Status
							</strong>
						</td>
						<td class="govuk-table__cell">@chunk.LastUpdatedFormatted</td>
					</tr>
				</tbody>
			</table>

			@foreach (var content in chunk.Content)
			{
				<partial name="Components/PageComponentFactory" model="@content" />
				<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" />
			}
		</div>
    }
}
