@model RecommendationsViewModel

@{
    Layout = "_PrintLayout";
	var currentTime = TimeZoneHelper.ToUkTime(DateTime.UtcNow);
}

@section BeforeContent {
    <govuk-back-link id="nonjs-back-button-link" href="@UrlConstants.RecommendationsPage" class="noprint non-js-only govuk-back-link">Home</govuk-back-link>
    <govuk-back-link id="back-button-link" href="@UrlConstants.RecommendationsPage" class="noprint js-only">
        Back
    </govuk-back-link>
}

<div class="recommendation-content"> 
    <div class="govuk-!-margin-bottom-2">
        @{
            await Html.RenderPartialAsync("PrintButton", Model);
        }
    </div>

    <div class="govuk-grid-row" id="checkYourAnswers-page">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <partial name="RecommendationPrintContent" model="@Model" />
            <h2>Your self-assessment</h2>
            <p>The self-assessment for @Model.SectionName.ToLower() was completed on <strong>@Model.LatestCompletionDate</strong>. You can change your answers at any time.</p>
             <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                @foreach (var questionWithAnswer in Model.SubmissionResponses)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key spacer">
                            @questionWithAnswer.QuestionText
                        </dt>
                        <dd class="govuk-summary-list__value spacer govuk-!-margin-bottom-2">
                            @questionWithAnswer.AnswerText
                        </dd>
                    </div>
                }
            </dl>
       </div>
    </div>
</div>
