@model RecommendationsViewModel

@{
    <div>
        <span class="govuk-caption-xl">How to meet the standard</span>
        <h1 class="govuk-heading-xl">
            @Model.CategoryName
        </h1>

        <h2 class="govuk-heading-l">@Model.SectionName</h2>

        <p>
            The self-assessment for @Model.SectionName.ToLower() was completed on
            <strong>@Model.LatestCompletionDate.</strong>
        </p>
        <p>View or change your self-assessment answers at any time.</p>
    </div>

    <h2 class="govuk-heading-l govuk-!-margin-bottom-4">Recommendations</h2>

    <ul class="govuk-task-list">
        @foreach (var chunk in Model.Chunks)
        {
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint custom-height">
                    <p class="govuk-!-margin-bottom-0">
                        @chunk.HeaderText
                    </p>
                </div>
            </li>
        }
    </ul>

    <h2 class="govuk-heading-l">Recommendations</h2>

    @foreach (var chunk in Model.Chunks)
    {
        <div class="recommendation-action-header">
            <div class="recommendation-piece-header">
                <h3 class="govuk-heading-m">@chunk.HeaderText</h3>
            </div>
        </div>

        <div class="recommendation-action-content govuk-!-margin-bottom-4">
            @foreach (var content in chunk.Content)
            {
                await Html.RenderPartialAsync("Components/PageComponentFactory", content);
                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" />
            }
            @{
                ViewData["RecommendationsActionsHeader"] = chunk.SlugifiedLinkText;
            }
        </div>
    }
}
