@model SingleRecommendationViewModel

@{
	Layout = "_Layout";

	var recommendation = Model.CurrentChunk;
	var categorySlug = Model.CategorySlug;
	var sectionSlug = Model.SectionSlug;
}

@section NavButton {
	<govuk-back-link id="nonjs-back-button-link" href="@UrlConstants.HomePage" class="noprint non-js-only govuk-back-link">
		Home
	</govuk-back-link>
	<govuk-back-link id="nonjs-back-button-link" href="@($"/{Model.CategorySlug}")" class="noprint js-only">
		Back to @Model.CategoryName.ToLower()
	</govuk-back-link>
}

@section CSS {
	<link rel="stylesheet" as="style" href="~/css/step-by-step.css" />
}

@section RelatedActions {
	<hr class="govuk-section-break govuk-section-break--visible govuk-section-break govuk-section-break--visible custom-hr-blue">
	<h2 class="govuk-heading-m govuk-!-padding-top-4">Related actions</h2>

	<p class="govuk-body-s">
		<a class="govuk-link"
		   asp-route="PrintSingleRecommendation"
		   asp-route-categorySlug="@Model.CategorySlug"
		   asp-route-sectionSlug="@Model.SectionSlug"
		   asp-route-chunkSlug="@Model.CurrentChunk.Slug">
			Print this recommendation
		</a>
	</p>

	<p class="govuk-body-s">
		<a class="govuk-link"
		   asp-route="PrintAllRecommendations"
		   asp-route-categorySlug="@Model.CategorySlug"
		   asp-route-sectionSlug="@Model.SectionSlug"
		   asp-route-chunkSlug="@Model.CurrentChunk.Slug">
			Print your school's @Model.Section.Name.ToLower() recommendations
		</a>
	</p>
}


@{
	<div class="recommendation-content">
		<div class="recommendation-piece-container" id="@recommendation.Slug">
			@if (!string.IsNullOrEmpty(Model.SuccessMessageTitle) || !string.IsNullOrEmpty(Model.SuccessMessageBody))
			{
				<govuk-panel heading-level="2" class="govuk-!-margin-bottom-4">
					@if (!string.IsNullOrEmpty(Model.SuccessMessageTitle))
					{
						<govuk-panel-title>@Model.SuccessMessageTitle</govuk-panel-title>
					}
					@if (!string.IsNullOrEmpty(Model.SuccessMessageBody))
					{
						<govuk-panel-body>
							@Model.SuccessMessageBody
						</govuk-panel-body>
					}
				</govuk-panel>
			}

			@* The error summary is dynamically inserted at the top of the form. We want that at the top of the page. *@
			<form method="post" action="/@categorySlug/@sectionSlug/recommendations/@recommendation.Slug/update-status">

				<div class="recommendation-piece-content">
					<span class="govuk-caption-xl">Recommendation @Model.CurrentChunkPosition of @Model.TotalChunks</span>
					<h1 class="govuk-heading-xl">@recommendation.HeaderText</h1>

					<table class="govuk-table">
						<thead class="govuk-table__head">
							<tr class="govuk-table__row">
								<th scope="col" class="govuk-table__header">Status</th>
								<th scope="col" class="govuk-table__header">Updated</th>
							</tr>
						</thead>
						<tbody class="govuk-table__body">
							<tr class="govuk-table__row">
								<td class="govuk-table__cell">
									<strong class="govuk-tag @Model.StatusTagClass">
										@Model.StatusText
									</strong>
								</td>
								<td class="govuk-table__cell">@Model.LastUpdatedFormatted</td>
							</tr>
						</tbody>
					</table>

					@foreach (var content in recommendation.Content)
					{
						<partial name="Components/PageComponentFactory" model="@content" />
					}
				</div>

				@if (recommendation.CSLink != null)
				{
					<div class="govuk-!-margin-top-3 govuk-!-margin-bottom-9">
						<a class="govuk-body govuk-link govuk-!-font-weight-bold" href=@recommendation.CSLink.Url>@recommendation.CSLink.LinkText</a>
					</div>
				}

				<hr class="govuk-section-break govuk-section-break--l" />

				<govuk-radios name="SelectedStatus">
					<govuk-radios-fieldset>
						<govuk-radios-fieldset-legend class="govuk-fieldset__legend--l">
							<h2 class="govuk-fieldset__heading">
								Have you completed this recommendation?
							</h2>
						</govuk-radios-fieldset-legend>

						<govuk-radios-hint>
							Select the current status of this recommendation.
						</govuk-radios-hint>

						@if (!string.IsNullOrEmpty(Model.StatusErrorMessage))
						{
							<govuk-radios-error-message>
								@Model.StatusErrorMessage
							</govuk-radios-error-message>
						}

						@foreach (var option in Model.StatusOptions)
						{
							<govuk-radios-item value="@option.Key" checked="@(Model.SelectedStatusKey == option.Key)">
								@option.Value
							</govuk-radios-item>
						}
					</govuk-radios-fieldset>
				</govuk-radios>

				<govuk-button type="submit" prevent-double-click="true">Update status</govuk-button>
			</form>

			<hr class="govuk-section-break govuk-section-break--l" />

			<div>
				<govuk-pagination>
					@if (Model.PreviousChunk != null)
					{
						<govuk-pagination-previous href="/@categorySlug/@sectionSlug/recommendations/@Model.PreviousChunk.Slug" label-text="@Model.PreviousChunk.LinkText" class="govuk-link--no-visited-state" />
					}
					@if (Model.NextChunk != null)
					{
						<govuk-pagination-next href="/@categorySlug/@sectionSlug/recommendations/@Model.NextChunk.Slug" label-text="@Model.NextChunk.LinkText" class="govuk-link--no-visited-state" />
					}
				</govuk-pagination>
			</div>
		</div>
	</div>
}
