@model ContinueSelfAssessmentViewModel

@{
    ViewData["Title"] = "Continue self-assessment";
}

@section NavButton {
    @{
        await Html.RenderPartialAsync("BackButton");
    }
}

<span class="govuk-caption-xl">@Model.TopicName</span>
<h1 class="govuk-heading-xl">
    @ContentfulMicrocopyHelper.GetMicrocopyTextByKey(ContentfulMicrocopyConstants.ContinueHeader, Model.MicrocopyEntries)
</h1>

    @{
    var dynamicValues = new Dictionary<string, string>
    {
        ["dateUpdated"] = Model.AssessmentUpdatedDate.ToString("dd MMMM yyyy")
    };
}

<p>
    @ContentfulMicrocopyHelper.GetMicrocopyTextByKey(ContentfulMicrocopyConstants.ContinueIntroText, Model.MicrocopyEntries, dynamicValues)    
</p>

<h2 class="govuk-heading-l">
    @ContentfulMicrocopyHelper.GetMicrocopyTextByKey(ContentfulMicrocopyConstants.ContinueAnswersHeader, Model.MicrocopyEntries)
</h2>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
@foreach (var response in Model.Responses)
{
    <div>
        <p class="govuk-!-font-weight-bold">@response.QuestionText</p>
        <p>@response.AnswerText</p>
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-4 govuk-!-margin-bottom-4" />
    </div>
}

<hr class="govuk-section-break govuk-section-break--m">

<p>@ContentfulMicrocopyHelper.GetMicrocopyTextByKey(ContentfulMicrocopyConstants.ContinueInfoText, Model.MicrocopyEntries)</p>
<p>@ContentfulMicrocopyHelper.GetMicrocopyTextByKey(ContentfulMicrocopyConstants.ContinueInfoMore, Model.MicrocopyEntries)</p>

<div class="govuk-button-group">
    <a href="@Url.Action(
        nameof(QuestionsController.ContinuePreviousAssessment),
        "Questions",
        new { categorySlug = Model.CategorySlug, sectionSlug = Model.SectionSlug })"
       class="govuk-button"
       data-module="govuk-button">
        @ContentfulMicrocopyHelper.GetMicrocopyTextByKey(ContentfulMicrocopyConstants.ContinueContinueButton, Model.MicrocopyEntries)
    </a>
    <a href="@Url.Action(
        nameof(QuestionsController.RestartSelfAssessment),
        "Questions",
        new { categorySlug = Model.CategorySlug, sectionSlug = Model.SectionSlug, isObsoleteSubmissionFlow = false })"
       class="govuk-button govuk-button--secondary"
       data-module="govuk-button">
        @ContentfulMicrocopyHelper.GetMicrocopyTextByKey(ContentfulMicrocopyConstants.ContinueRestartButton, Model.MicrocopyEntries)
    </a>
</div>
