@model Dfe.PlanTech.Web.Models.QuestionViewModel
@using System.Text.Json;

@section BeforeContent {
    @{
        await Html.RenderPartialAsync("BackButton");
    }
}

<form asp-controller="Questions"
    asp-action="SubmitAnswer"
    asp-route-sectionSlug=@Model.SectionSlug
    asp-route-questionSlug=@Model.Question.Slug
    method="post">
    <input id="QuestionText" hidden value="@Model.Question.Text" name="QuestionText"/>
    <input id="QuestionId" hidden value=@Model.Question.Sys.Id name="QuestionId" />
    <input id="SectionId" hidden value="@Model.SectionId" name="SectionId"/>

    <govuk-radios name="ChosenAnswerJson">
        <govuk-radios-fieldset>
            <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                @Model.Question.Text
            </govuk-radios-fieldset-legend>

            @if (!string.IsNullOrEmpty(Model.Question.HelpText))
            {
                <govuk-radios-hint>@Model.Question.HelpText</govuk-radios-hint>
            }

            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <govuk-radios-error-message>@Model.ErrorMessage</govuk-radios-error-message>
            }

            @{
                foreach (var answer in Model.Question.Answers)
                {
                    var answerDto = answer.AsDto;
                    var isChecked = Model.AnswerRef != null && Model.AnswerRef.Equals(answer.Sys.Id);
                    var radioValue = JsonSerializer.Serialize(answerDto);

                    <govuk-radios-item value="@radioValue" checked="@isChecked">@answer.Text</govuk-radios-item>
                }
            }

        </govuk-radios-fieldset>
    </govuk-radios>

    <govuk-button type="submit">Save and continue</govuk-button>
</form>