@model Dfe.PlanTech.Web.Models.QuestionViewModel

@section BeforeContent {
    <govuk-back-link href=@Model.BackUrl />
}

<form asp-controller="Questions" asp-action="SubmitAnswer" method="post">
    <input id="QuestionId" hidden value=@Model.Question.Sys.Id name="QuestionId" />
    <input id="Params" hidden value="@Model.Params" name="Params" />
    <input id="SubmissionId" hidden value="@Model.SubmissionId" name="SubmissionId" />

    <govuk-radios name="ChosenAnswerId">
        <govuk-radios-fieldset>
            <govuk-radios-fieldset-legend is-page-heading="true" class="govuk-fieldset__legend--l">
                @Model.Question.Text
            </govuk-radios-fieldset-legend>

            @if (!string.IsNullOrEmpty(Model.Question.HelpText))
            {
                <govuk-radios-hint>@Model.Question.HelpText</govuk-radios-hint>
            }

            @{
                foreach (var answer in Model.Question.Answers)
                {
                    var chosenAnswerId = answer.Sys.Id ?? "";

                    if (Model.AnswerRef != null && Model.AnswerRef.Equals(chosenAnswerId))
                    {
                        <govuk-radios-item value=@chosenAnswerId checked="true">@answer.Text</govuk-radios-item>
                    }
                    else
                    {
                        <govuk-radios-item value=@chosenAnswerId>@answer.Text</govuk-radios-item>
                    }
                }
            }

        </govuk-radios-fieldset>
    </govuk-radios>

    <govuk-button type="submit">Save and continue</govuk-button>
</form>