@model IHeaderWithContent;

@{
    var parentContainerClass = ViewData["ParentContainerClass"] ?? "header-with-content-container";
    var headerClass = ViewData["HeaderClass"] ?? "header-with-content-header";
    var contentClass = ViewData["ContentClass"] ?? "header-with-content-content";
}

<div class="@parentContainerClass" id="@Model.SlugifiedLinkText">
    <div class="@headerClass">
        <div class="recommendation-piece-header">
            <h1 class="govuk-heading-xl">@Model.HeaderText</h1>
        </div>
    </div>
    <div class="@contentClass">
        @foreach (var content in Model.Content)
        {
            await Html.RenderPartialAsync("Components/PageComponentFactory", content);
        }
    </div>
</div>
