@using Dfe.PlanTech.Application.Constants
@using Dfe.PlanTech.Web.Controllers
@model Dfe.PlanTech.Web.Models.CheckAnswersViewModel

@section BeforeContent {
    @{
        await Html.RenderPartialAsync("BackButton");
    }
}

<div class="govuk-grid-row" id="checkYourAnswers-page">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <h3 class="govuk-body-l">@Model.SectionName</h3>
        @{
            await Html.RenderPartialAsync("Components/PageComponentFactory", Model.Title);
        }
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            @foreach (var questionWithAnswer in Model.SubmissionResponses.Responses)
            {
                var anchorLabel = $"your answer for {questionWithAnswer.QuestionText}";

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key spacer">
                        @questionWithAnswer.QuestionText
                    </dt>
                    <dd class="govuk-summary-list__value spacer">
                        @questionWithAnswer.AnswerText
                    </dd>
                    <dd class="noprint govuk-summary-list__actions spacer">
                        <a asp-controller="Questions" asp-action="GetQuestionBySlug"
                           asp-route-questionSlug="@questionWithAnswer.QuestionSlug"
                           asp-route-sectionSlug="@Model.SectionSlug" class="govuk-link"
                           title="@questionWithAnswer.QuestionText">
                            Change
                            <span class="govuk-visually-hidden">@anchorLabel</span>
                        </a>
                    </dd>
                </div>
            }
        </dl>
        <form asp-controller="CheckAnswers" asp-action="ConfirmCheckAnswers" method="post" class="noprint">
            <input type="hidden" name="submissionId" value="@Model.SubmissionId"/>
            <input type="hidden" name="sectionName" value="@Model.SectionName">
            <input type="hidden" name="sectionSlug" value="@Model.SectionSlug">

            @{
                foreach (var content in Model.Content)
                {
                    await Html.RenderPartialAsync("Components/PageComponentFactory", content);
                }
            }

            <govuk-button class="govuk-!-margin-right-5" type="submit" name="redirectOption" value="@RecommendationsController.GetRecommendationAction">Submit and view recommendations</govuk-button>
            <govuk-button class="govuk-button--secondary" type="submit" name="redirectOption" value="@UrlConstants.SelfAssessmentPage">Submit and go to self-assessment topics</govuk-button>

            @if (Model.ErrorMessage != null)
            {
                <p class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> @Model.ErrorMessage <a class="govuk-error-message"
                        href="@UrlConstants.SelfAssessmentPage">return to the self-assessment page</a>
                </p>
            }

        </form>
    </div>
    <div class="govuk-grid-column-one-third-from-desktop">
        @{
            await Html.RenderPartialAsync("PrintButton", Model);
        }
    </div>
</div>
