@using Dfe.PlanTech.Application.Providers.Interfaces
@inject IMicrocopyProvider Microcopy
@model ReviewAnswersViewModel

@{
    ViewData[StatePassingMechanismConstants.Title] = "Check your answers";
}

@section NavButton {
    @{
        await Html.RenderPartialAsync("BackButton");
    }
}

@section RelatedActions{
    @{
        await Html.RenderPartialAsync("PrintButton", Model);
    }
} 

@if (Model.IsMatMultiSchoolAssessment)
{
    <div class="govuk-inset-text">
        <p class="govuk-body">
            You are completing this self-assessment for @Model.SelectedSchoolCount schools:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            @foreach (var schoolName in Model.SelectedSchoolNames)
            {
                <li>@schoolName</li>
            }
        </ul>
    </div>
}

<div id="checkYourAnswers-page">
    <span class="govuk-caption-xl">@Model.SectionName</span>
    @{
        await Html.RenderPartialAsync("Components/PageComponentFactory", Model.Title);
    }
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        @foreach (var questionWithAnswer in Model.SubmissionResponses?.Responses ?? [])
        {
            var anchorLabel = $"your answer for {questionWithAnswer.QuestionText}";

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key spacer">
                    @questionWithAnswer.QuestionText
                </dt>
                <dd class="govuk-summary-list__value spacer">
                    @questionWithAnswer.AnswerText
                </dd>
                <dd class="noprint govuk-summary-list__actions spacer">
                    <a asp-controller="Questions" asp-action="GetQuestionBySlug"
                       asp-route-categorySlug="@Model.CategorySlug"
                       asp-route-sectionSlug="@Model.SectionSlug" class="govuk-link"
                       asp-route-questionSlug="@questionWithAnswer.QuestionSlug"
                       title="@questionWithAnswer.QuestionText">
                        @await Microcopy.GetTextByKeyAsync(ContentfulMicrocopyConstants.CheckAnswersChangeLink)
                        <span class="govuk-visually-hidden">@anchorLabel</span>
                    </a>
                </dd>
            </div>
        }
    </dl>
    <form asp-controller="@nameof(ReviewAnswersController).GetControllerNameSlug()" asp-action="@nameof(ReviewAnswersController.ConfirmCheckAnswers)" method="post" class="noprint">
        <input type="hidden" name="submissionId" value="@Model.SubmissionId" />
        <input type="hidden" name="categorySlug" value="@Model.CategorySlug" />
        <input type="hidden" name="sectionSlug" value="@Model.SectionSlug">
        <input type="hidden" name="sectionName" value="@Model.SectionName">

        @if(!Model.IsMatMultiSchoolAssessment)
        {
            foreach (var content in Model.Content ?? [])
            {
                await Html.RenderPartialAsync("Components/PageComponentFactory", content);
                }
        }
        else
        {
            <div>
                <h2>What happens next</h2>
                <p class="govuk-body">
                    You're submitting the @Model.SectionName self-assessments for @Model.SelectedSchoolCount schools:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    @foreach (var schoolName in Model.SelectedSchoolNames)
                    {
                        <li>@schoolName</li>
                    }
                </ul>
                <p class="govuk-body class=" govuk-margin-bottom-2"">
                    You'll get recommendations to help you schools meet the @Model.SectionName standards. Your self-assessment answers will be used to give these recommendations a progress status'
                </p>
            </div>
        }


        <govuk-button class="govuk-!-margin-right-5" type="submit" prevent-double-click="true">
            @await Microcopy.GetTextByKeyAsync(ContentfulMicrocopyConstants.CheckAnswersSubmitButton)
        </govuk-button>

        @if (Model.ErrorMessage != null)
        {
            <p class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> @Model.ErrorMessage
                <a class="govuk-error-message" href="@UrlConstants.HomePage">Return to the homepage</a>
            </p>
        }

    </form>
</div>
