@model Dfe.PlanTech.Web.Models.CheckAnswerRowViewModel

@{
  var anchorLabel = $"Change your answer for {Model.QuestionWithAnswer.QuestionText}";
}

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key spacer">
    @Model.QuestionWithAnswer.QuestionText
  </dt>
  <dd class="govuk-summary-list__value spacer">
    @Model.QuestionWithAnswer.AnswerText
  </dd>
  <dd class="govuk-summary-list__actions spacer">
    <a class="govuk-link" asp-controller="CheckAnswers" asp-action="ChangeAnswer"
      asp-route-questionRef="@Model.QuestionWithAnswer.QuestionRef"
      asp-route-answerRef="@Model.QuestionWithAnswer.AnswerRef"
      asp-route-submissionId="@Model.SubmissionId"
      aria-label=@anchorLabel>Change</a>
  </dd>
</div>
