@model Dfe.PlanTech.Domain.Content.Models.ContentSupport.Mapped.Custom.CustomAccordion

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-@Model.InternalName">
    @{
        foreach (var accordion in Model.Accordions)
        {
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="@accordion.InternalName-heading">
                            @accordion.Title
                        </span>
                    </h2>
                    <div class="govuk-accordion__section-summary govuk-body" id="@accordion.InternalName-summary">
                        @accordion.SummaryLine
                    </div>
                </div>
                <div id="@accordion.InternalName-content" class="govuk-accordion__section-content">
                    <partial name="Shared/RichText/_RichText" model="@accordion.Body"/>
                </div>
            </div>
        }
    }
</div>
